<!doctype html>
<html>
<head>
    <!--Required meta tags for bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--bootstrap css-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="{{  url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type='text/css' href="../GIF/static/main.css">
    <title>GIF Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    </style>
<body>
    <h1> Gif Search </h1>
    <!-- TODO: Make a block 'body' so that the homepage can extend base -->
    <div class="container">
        <form action='/gifs'class="bar">
            <nav class="navbar navbar-dark bg-dark">
                <div class="col-8">
                    <input class="form-control form-control-lg" type="search" name="q" placeholder="GIF Search">
                </div>
                <div class="col-4">
                    <button class="btn btn-secondary btn-lg" type="submit">Search</button>
                    <button class="btn btn-secondary btn-lg" type="submit" formaction="/">Trending</button>
                    <button class="btn btn-secondary btn-lg" type="submit" formaction="/random">Random</button>
                </div>

            </nav>
        </form>

            {% if gif_url_list | length == 0 %}
                <h1> No Gifs could be found for the search term. Please try another search term :)</h1>
            {%endif%}
            {% for gif in gif_url_list %}
                    {% include 'gif.html' %}
            {% endfor %}

            {% for gif_row in gif | batch(3, '&nbsp;') %}
            <div class="row">
                {% for gif in gif_url_list %}
                    <div class="span4">{{ gif }}</div>
                {% endfor %}
                </div>
                {% endfor %}
            </div>

    <div class="container" class="bar">
        {% block content %}{% endblock %}
    </div>



    <!-- Include the Tenor JavaScript to fill in GIFs appropriately -->
    <!--bootstrap js-->
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
