<!doctype html>
<html>
<head>
    <!--Required meta tags for bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="static/css/main.css">
    <!-- <link rel="stylesheet" type='text/css' href="{{  url_for('static', filename='main.css') }}"> -->
    <title>GIF Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1> Gif Search </h1>
    <!-- TODO: Make a block 'body' so that the homepage can extend base -->
    <div class="container">
        <form action='/gifs'>
            <nav class="navbar navbar-dark bg-dark">
                <div class="col-8">
                    <input class="form-control form-control-lg" type="search" name="q" placeholder="GIF Search">
                </div>
                <div class="col-4">
                    <button class="btn btn-secondary btn-lg" type="submit">Search</button>
                </div>


            </nav>
        </form>

            {% if gif_url_list | length == 0 %}
                <h1> Please enter a valid gif word :)</h1>
            {% endif %}
            <div class="row">
                {% for gif in gif_url_list %}
                        {% include 'gif.html' %}
                {% endfor %}
            </div>


    <div class="container" class="bar">
        {% block content %}{% endblock %}
    </div>



    <!-- Include the Tenor JavaScript to fill in GIFs appropriately -->
    <!--bootstrap js-->
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>
</html>
